.time {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #2d4d76;
    display: block;
}

.container-block {
    margin-top: 10%;
}

h1.st1 {
    display: inline-block;
    width:200px;
    font-size: 180px;
}
h1.st2 {
    display: inline-block;
    width:100px;
    font-size: 180px;
}
.dropdown {
    font-family: Arial, Helvetica, sans-serif;
    color: #2d4d76;
    text-align: center;
    width: 30%;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 992px) {
    h1.st1 {
        display: inline-block;
        width:150px;
        font-size: 140px;
    }
    h1.st2 {
        display: inline-block;
        width:100px;
        font-size: 150px;
    }
}

@media only screen and (max-width: 770px) {
    h1.st1 {
        display: inline-block;
        width:80px;
        font-size: 90px;
    }
    h1.st2 {
        display: inline-block;
        width:60px;
        font-size: 90px;
    }
}


@media only screen and (max-width: 415px) {
    h1.st1 {
        display: inline-block;
        width:40px;
        font-size: 50px;
    }
    h1.st2 {
        display: inline-block;
        width:40px;
        font-size: 60px;
    }
}


